.btn-update {
  border: none;
  font-size: 2rem;
  padding: 2rem 5rem;
  border-radius: 0.7rem;
  margin: 3rem;
  color: white;
  background-color: orangered;
  cursor: pointer;
}

#stackerChart {
  display: block;
  height: 500px !important;
  width: 500px !important;
}
