.container {
  display: block;
  width: 50%;
  height: 100vh;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

.btn-update {
  border: none;
  font-size: 1.5rem;
  padding: 1.5rem 1.5rem;
  border-radius: 0.7rem;
  margin: 2rem auto;
  color: white;
  background-color: orangered;
  cursor: pointer;
}

*#chartWindow {
  margin: 2rem auto;
}

.chartArea {
  margin: 0 auto;
}

#apexcharts47zdcado {
  margin: 2rem auto;
}
