html,
body {
  height: 100vh;
  width: 100vw;
  background: #999;
}

.chart {
  height: 600px;
  width: 1200px;
  margin: auto auto;
  justify-content: center;
  background: #fff;
}

#myChart {
  height: 400px !important;
  width: 1000px !important;
  margin: auto;
}
