html,
body {
  margin-top: 2rem;
  height: 100vh;
  width: 100vw;
  background: #999;
}

.chart {
  margin-top: 20rem;
  height: 400px;
  width: 1000px;
  margin: auto auto;
  justify-content: center;
  background: #fff;
}

#spotChart {
  height: 400px !important;
  width: 800px !important;
  margin: auto;
}
