:root {
  --gold-font-color: rgb(221, 189, 7);
  --box-font-color: rgb(53, 50, 50);
  --secondary-bg-color: rgba(95, 14, 14, 1);
  --box-bg-color: rgba(209, 204, 204, 0.4);
  --price-up-color: rgb(10, 92, 10);
  --price-drop-color: rgb(199, 15, 15);
}

* {
  padding: 0;
  margin: 0 auto;
  padding: 0;
  font-family: Ink free, cursive, sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  top: 0;
  margin: 0;
}

.container {
  width: 85%;
  min-height: 90vh;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  background: linear-gradient(
      to bottom,
      rgba(251, 248, 248, 0.2),
      rgb(47, 47, 47)
    ),
    url(../img/gold.jpg) center no-repeat fixed;
}

.header {
  top: 0;
  padding-top: 1rem;
  position: sticky;
  display: flex;
  font-size: 3rem;
  font-family: cursive;
  height: 6rem;
  margin: 0 auto 1.5rem auto;
  align-items: center;
}

#logo {
  margin: 1rem;
  transition: all 0.3s linear;
}

#logo:hover {
  width: 140px;
  height: 90px;
  margin-right: 3rem;
}

#logotext {
  margin: 0;
  font-size: 4rem;
  font-weight: 800;
  text-shadow: 2px 2px var(--gold-font-color);
  font-style: italic;
}

.btnDiv {
  margin: auto 1rem auto auto;
  align-items: center;
}

.btn-update,
.btn-stack {
  border: none;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem 1rem;
  border-radius: 0.7rem;
  margin: 0;
  color: var(--gold-font-color);
  background-color: var(--secondary-bg-color);
  cursor: pointer;
  font-family: Ink free, cursive, sans-serif;
  vertical-align: middle;
  transition: font-weight 0.2s linear;
}

.btn-update:hover,
.btn-stack:hover {
  font-weight: 800;
  background-color: #5f0e0ee6;
}

.page {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
}

#chart {
  height: 20rem;
}

.chartArea {
  padding: 0 0 0 1rem;
  grid-column: span 4;
  grid-row: span 2;
  width: 100%;
}

.apexcharts-canvas {
  margin: 0 auto;
  padding: 1rem 0 1rem 0;
  background: var(--box-bg-color);
  border-radius: 1rem;
  width: 100%;
 
}

.spotTicker,
.statTicker {
  display: flex;
  grid-column: 5;
  border-radius: 1rem;
  color: var(--box-font-color);
  background: var(--box-bg-color);
  align-items: center;
  justify-content: center;
}

.spotTicker {
  grid-row: 1;
  flex-direction: column;
  font-size: 1rem;
  margin: 0 1rem 0 0;
  padding: 0.35rem;
  align-items: center;
}

#spotBox {
  display: grid;
  gap: 0.5rem;
}

#spotItems {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.25rem;
  align-items: center;
}
#spotPrice {
  grid-column: 1 / 6;
  grid-row: span 2;
}

.arrow {
  width: 0px;
  height: 0px;
  border: 0.8rem solid transparent;
}

.arrow-up {
  border-bottom-color: var(--price-up-color);
  border-top-width: 0px;
  grid-column: 6;
  grid-row: span 2;
}

.arrow-down {
  border-top-color: var(--price-drop-color);
  border-bottom-width: 0px;
  grid-column: 6;
  grid-row: span 2;
}

#changeV {
  grid-row: 1;
}

#changeP {
  grid-row: 2;
}

#callTime,
#buy,
#sell,
#high,
#low,
#openPrice,
.changeP,
.changeV {
  font-size: 1rem;
  margin: 0;
}

.statTicker {
  grid-row: 2;
  display:flex;
  flex-direction: column;
  padding: 0.5rem 0;
  margin: 0 1rem 0 0;
  font-weight: bold;
}

#statBox {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 0.25rem;
  padding: 0 2rem;
  align-items: center;
}

#openPrice, #high, #low, #buy, #sell {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: right;
}

#statBox span {
  margin-left: 2px;
  padding-left:1rem;
}

.userStack {
  grid-column: span 5;
  grid-row: span 2;

  border-radius: 1rem;
  background: var(--box-bg-color);
  margin: 0 1rem 1rem 1rem;
}

footer {
  width: 85%;
  height: 5rem;
  bottom: 0;
  background: var(--secondary-bg-color);
  color: #fff;
  margin: 0 auto;
  align-items: center;
}
#footnote {
  height: 100%;
  text-align: center;
  padding-top: 1.5rem;
}

#tag {
  font-size: 1.5rem;
  font-style: italic;
  color: var(--gold-font-color);
}

.spinner {
  text-align: center;
}
.spinner svg {
  height: 3rem;
  width: 3rem;
  fill: #736563;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
