* {
  padding: 0;
  margin: 0 auto;
  padding: 0;
  font-family: Ink free, cursive, sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  top: 0;
  margin: 0;
}

.container {
  width: 70%;
  min-height: 90vh;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  background: linear-gradient(
      to bottom,
      rgba(251, 248, 248, 0.2),
      rgb(47, 47, 47)
    ),
    url(../img/gold.jpg) center no-repeat fixed;
}

.header {
  top: 0;
  padding-top: 1rem;
  position: sticky;
  display: flex;
  font-size: 3rem;
  font-family: cursive;
  height: 6rem;
  margin: 0 auto 1.5rem auto;
  align-items: center;
}

#logo {
  margin: 1rem;
  transition: all 0.3s linear;
  /*background: rgb(211, 125, 28);*/
}

#logo:hover {
  width: 140px;
  height: 90px;
  margin-right: 3rem;
}

#logotext {
  margin: 0;
  font-size: 4rem;
  font-weight: 800;
  text-shadow: 2px 2px rgb(221, 189, 7);
  font-style: italic;
}

.btnDiv {
  margin: auto 1rem auto auto;
  align-items: center;
}

.btn-update,
.btn-stack {
  border: none;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem 1rem;
  border-radius: 0.7rem;
  margin: 0;
  color: rgb(221, 189, 7);
  background-color: rgba(95, 14, 14, 1);
  cursor: pointer;
  font-family: Ink free, cursive, sans-serif;
  vertical-align: middle;
  transition: font-weight 0.2s linear;
}

.btn-update:hover,
.btn-stack:hover {
  font-weight: 800;
  background-color: #5f0e0ee6;
}

.page {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
}

#chart {
  height: 20rem;
}

.chartArea {
  padding: 0 0 0 1rem;
  grid-column: span 4;
  grid-row: span 2;
  width: 100%;
}

.spotTicker,
.statTicker {
  grid-column: 5;
  border-radius: 1rem;
  background: rgba(209, 204, 204, 0.4);
  align-items: center;
}

.spotTicker {
  grid-row: 1;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  margin: 0 1rem 0 0;
  align-items: center;
  justify-content: center;
  color: rgb(97, 90, 90);
}
#spotBox {
  display: grid;
  gap: 0.5rem;
  /*flex-direction: column;*/
}

#spotItems {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
#spotPrice {
  grid-column: 1 / 7;
  grid-row: span 2;
}

#changeV {
  grid-column: 7;
  grid-row: 1;
}

#changeP {
  grid-column: 7;
  grid-row: 2;
}

#callTime,
#buy,
#sell,
#highLow,
#changeP,
#changeV {
  font-size: 1rem;
  margin: 0;
}

.statTicker {
  grid-row: 2;
  margin: 0 1rem 0 0;
}

.userStack {
  grid-column: span 5;
  grid-row: span 2;

  border-radius: 1rem;
  background: rgba(209, 204, 204, 0.4);
  margin: 0 1rem 1rem 1rem;
}

.apexcharts-canvas {
  margin: 0 auto;
  background: rgba(209, 204, 204, 0.6);
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}

footer {
  width: 70%;
  height: 5rem;
  bottom: 0;
  background: rgba(37, 7, 7, 1);
  color: #fff;
  margin: 0 auto;
  align-items: center;
}
#footnote {
  height: 100%;
  text-align: center;
  padding-top: 1.5rem;
}

#tag {
  font-size: 1.5rem;
  font-style: italic;

  color: rgb(221, 189, 7);
}

.arrow {
  display: block;
  width: 0px;
  height: 0px;
  border: 1rem solid transparent;
}
.arrow.arrow-up {
  border-bottom-color: rgb(31, 102, 13);
  border-top-width: 0px;
}
.arrow.arrow-down {
  border-top-color: rgb(117, 11, 11);
  border-bottom-width: 0px;
}
