* {
  padding: 0;
  margin: 0 auto;
  padding: 0;
  font-family: Ink free, cursive, sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  top: 0;
  margin: 0;
}

.container {
  width: 70%;
  min-height: 90vh;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  background: linear-gradient(
      to bottom,
      rgba(251, 248, 248, 0.2),
      rgb(47, 47, 47)
    ),
    url(../img/gold.jpg) center no-repeat fixed;
}

.header {
  top: 0;
  padding-top: 1rem;
  position: sticky;
  display: flex;
  font-size: 3rem;
  font-family: cursive;
  height: 6rem;
  margin: 0.5rem auto;
  align-items: center;
}

#logo {
  margin: 1rem;
  transition: all 0.3s linear;
  /*background: rgb(211, 125, 28);*/
}

#logo:hover {
  width: 110px;
  height: 110px;
  margin-right: 5rem;
}

#logotext {
  margin: 0;
  font-size: 4rem;
  font-weight: 800;
  text-shadow: 2px 2px #fbfafa;
  font-style: italic;
}

.btnDiv {
  margin: auto 1rem auto auto;
  align-items: center;
}

.btn-update,
.btn-stack {
  border: none;
  font-size: 1.5rem;
  padding: 1rem 1rem;
  border-radius: 0.7rem;
  margin: 0;
  color: white;
  background-color: rgba(95, 14, 14, 1);
  cursor: pointer;
  font-family: Ink free, cursive, sans-serif;
  vertical-align: middle;
}

.btn-update:hover,
.btn-stack:hover {
  font-weight: 800;
  background-color: rgba(95, 14, 14, 0.9);
}

.chartArea {
  margin: 2rem auto 0 auto;
}

.apexcharts-canvas {
  margin: 2rem auto;
  background: rgba(209, 204, 204, 0.4);
  border-radius: 1rem;
}

footer {
  width: 70%;
  height: 5rem;
  bottom: 0;
  background: rgba(37, 7, 7, 1);
  color: #fff;
  margin: 0 auto;
  align-items: center;
}
#footnote {
  height: 100%;
  text-align: center;
  padding-top: 1.5rem;
}

#tag {
  font-size: 1.5rem;
  font-style: italic;

  color: rgb(98, 98, 223);
}
