* {
  padding: 0;
  margin: 0 auto;
}

.container {
  display: block;
  width: 70%;
  height: 100vh;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

.header {
  display: flex;
  font-size: 3rem;
  font-family: cursive;
  height: 6rem;
  margin: 0.5rem auto;
  align-items: center;
}

#logo {
  margin: 0;
}
#logotext {
  margin: 0 0 0 0.5rem;
  font-size: 2rem;
}

.btnDiv {
  margin: 0 auto 0 auto;
  align-self: center;
}

.btn-update {
  border: none;
  font-size: 1.5rem;
  padding: 1.5rem 1.5rem;
  border-radius: 0.7rem;
  margin: 0 auto;
  color: white;
  background-color: orangered;
  cursor: pointer;
  font-family: cursive;
}

.chartArea {
  margin: 4rem auto;
}

#apexcharts-canvas {
  margin: 2rem auto;
}
